h1, h2 {
    font-size: 40px;
}

ul {
    list-style: none;
}

.App {
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(transparent 50%, transparent, #fff),
        url(./images/phonebook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
