.contact_list {
    padding: 20px 0;
}

.contact {
    margin: 10px 0;
    font-weight: 500;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.delete_button {
    width: 70px;
    height: 35px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    border-color: transparent;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
}

.delete_button:hover,
.delete_button:focus {
    background-color: rgb(255, 135, 37);
}